<h1 class="text-center"> Registro Articulo </h1>
<form method="get" action="/posts/create" class="container" id="create_posts">

    <div class="form-group">
        <label for="title">Title</label>
        <input name="title" class="form-control"
        id="title" placeholder="Enter title">
    </div>

    <div class="form-group">
        <label for="image_url">Image_url</label>
        <input name="image_url" class="form-control">
    </div>

    <div class="form-group">
        <label for="content">Content</label>
        <textarea name="content" class="form-control"></textarea>
    </div>


    <button type="submit" class="btn btn-primary">Sumbit</button>
</form>